/* Meme 01 */
.caption01-1 {margin-top: 20%;font-size: 25px; max-width: 300px; margin-left: 10.5%;}.caption01-2 { margin-left: 34%; margin-top: -22%; font-size: 30px;}


/* Meme 02 */
.caption02-1 {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 30px;
  max-width: 15%;
}

.caption02-2 {
  margin-top: 30%;
  margin-left: 5%;
  font-size: 30px;
  max-width: 15%;
}

/* Meme 03 */
.caption03-1 {
  margin-top: 1%;
  margin-left: 10%;
  max-width: 10%;
  font-size: 30px;
}

.caption03-2 {
  margin-top: 1%;
  margin-left: 15%;
  max-width: 10%;
  font-size: 30px;
}
/* Meme number 4 */
.caption04-1 {
  margin: 2% 0 0 8%;
  max-width: 10%;
  font-size: 20px;
}

.caption04-2 {
  margin-top: 26%;
  margin-left: 8%;
  max-width: 10%;
  font-size: 20px;
}

/* Meme number 5 */
.caption05-1 {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 30px;
  max-width: 15%;
}

.caption05-2 {
  margin-top: 26%;
  margin-left: 5%;
  font-size: 30px;
  max-width: 15%;
}

/* Meme number 6 */
.caption06-1 {
  margin-top: 14%;
  margin-left: 20%;
  font-size: 30px;
  max-width: 15%;
  font-weight: 600;
}

.caption06-2 {
  margin-top: 19%;
  margin-left: 17%;
  font-size: 30px;
  max-width: 15%;
  font-weight: 600;
}
